.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
  font-family: Arial, Helvetica, sans-serif;
}

.fighter-preview___right {
  align-items: center;
}

.fighter-preview___left {
  align-items: center;
}
.data__preview {
  display: flex;
}
.data__preview > * {
  margin: 1rem;
  color: #f4f1de;
  font-size: 1.1rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 0 3px 3px #023047;
}
.fighter-preview___left > img,
.fighter-preview___right > img {
  height: 25vh;
}
.name__preview {
  color: #f4f1de;
  text-shadow: 0 3px 3px #023047;
}
